# =========================
# Database files
# =========================
account-service/data/
*.db
*.mv.db
*.trace.db

# =========================
# Build files
# =========================
target/
*.class
*.jar

# =========================
# Logs
# =========================
*.log

# =========================
# Node
# =========================
node_modules/

# =========================
# IDE files
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db